<h3>{{produto.name | titlecase }}</h3>
<div><span>Preço: </span>{{produto.price | currency}}</div>
<div><span>Quantidade: </span>{{produto.qtde}}</div>
<div>
    <h2 *ngIf="produto.qtde > 0">Disponível</h2>
    <h2 *ngIf="produto.qtde <= 0">Indisponível</h2>
</div>

<hr>
<div>
    <p>Nome:</p>
    <input type="text" [(ngModel)]="produto.name">
    <p>Preço:</p>
    <input type="number" [(ngModel)]="produto.price">
    <p>Quantidade:</p>
    <input type="number" [(ngModel)]="produto.qtde">
</div>

<button (click)="fechar()">Fechar Produto</button>